div{
    display: flex;
    justify-content: space-around;
}

button{
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

p{
    margin: 0;
    padding: 0;
}


.like-btn{
    fill: red;
}
