<svg class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
  </svg>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear publicacion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert" *ngIf="error">
              <p>Error al crear el post</p>
          </div>
          <form action="enviarDatos()">
            <div class="mb-3">
              <textarea class="form-control" id="post" placeholder="Que estas pensando?" name="post" [(ngModel)]="post"></textarea>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="publishPost()" (click)="showToast()">Publicar</button>
        </div>
      </div>
    </div>
  </div>


  <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<ngb-toast header="Toast header" [autohide]="false" [delay]="5000" [dismissible]="true" (dismissEvent)="dismissEvent($event)">
  This is a toast
</ngb-toast>